@import url('https://fonts.googleapis.com/css2?family=Inter:wght@361;400;600&family=Ubuntu+Mono:wght@400&display=swap');
/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Root CSS Variables */
:root {
  /* Color Variables */
  --theme-color: #9EE43F;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --th-color: #43700A;
  --hover-color: #FFFFFF80;
  --even-color: #FFFFFF4D;
  --odd-color: #FFFFFF33;


  /* Font Variables */
  --font-family: 'Ubuntu Mono', monospace;
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: clamp(1.875rem, 3.125rem + 8.333vw, 1.5rem); /* 30px */
  
  /* Padding Variables */
  --padding-small: 0.625rem 1.5625rem; /* 10px 25px */
  --padding-medium: 0.9375rem 1.5625rem; /* 15px 25px */
}

/* Body Styles */
body {
  background: var(--theme-color);
  font-family: var(--font-family);
  padding-bottom: 10vh;
}

/* Heading Styles */
h1 {
  font-size: var(--font-size-large);
  color: var(--white-color);
  margin-bottom: 1.875rem; /* 30px */
  letter-spacing: 0.125rem; /* 2px */
  font-weight: 700;
}

/* Leaderboard Styles */
.leaderboard {
  max-width: 970px;
  margin: 3.125rem auto 0; /* 50px */
  text-align: center;
}

/* Table Styles */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--theme-color);
  border-radius: 6px;
  overflow: hidden;
}

img.leaderboard__img {
  width: 190px;
  margin-bottom: 2.8125rem; /* 45px */
}

/* Table Header and Cell Styles */
th, td {
  border: none;
}

th {
  color: var(--white-color);
  text-align: left;
  padding: var(--padding-small);
  font-size: var(--font-size-small);
  position: sticky;
  top: 0px;
  background-color: var(--th-color);
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

thead {
  background-color: var(--th-color);
  font-size: 0.8125rem; /* 13px */
  text-transform: uppercase;
  margin-bottom: 1.25rem; /* 20px */
}

td {
  color: var(--black-color);
}

/* Table Body Row Styles */
tbody tr {
  color: var(--black-color);
  font-size: var(--font-size-medium);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tbody tr:hover {
  background-color: var(--hover-color) !important;
  cursor: pointer;
}

tbody tr td {
  padding: var(--padding-medium);
}

tbody tr td a {
  color: var(--black-color);
  text-decoration: none;
}

tbody tr td a:hover {
  text-decoration: underline;
}

/* Alternating Row Colors */
tbody tr:nth-child(odd) {
  background-color: var(--odd-color);
}

tbody tr:nth-child(even) {
  background-color: var(--even-color);
}

/* Aligning Text in Table */
table th:not(:first-child),
table td:not(:first-child) {
  text-align: right;
}

/* First Row Styling */
tbody tr:first-child {
  background: var(--odd-color) url('../assets/Leader_icon.svg') no-repeat 5px 17px / 16px;
}

/* Last column styling */
tbody td:last-child {
  font-weight: bold;
}

/* Username Styles */
.username {
  display: flex;
  align-items: center;
}

.username img {
  border-radius: 50%;
  margin-right: 0.75rem; /* 12px */
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 992px) {
  .leaderboard {
    margin: 0 0.625rem; /* 10px */
  }
  body {
    background-position: inherit;
  }
}

nav {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10%; /* 40px */
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: var(--black-color);
  margin-left: 2.8125rem; /* 45px */
  font-weight: 700;
}

nav img {
  max-height: 2.5rem; /* 40px */
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: relative;
  left: 100%;
  top: -1.5625rem; /* -25px */
}

@media screen and (max-width: 1100px) {
  .nav-links {
    display: none;
  }
}
